*.swp
*.o
*.lo
*.a
*.la
*.pc
*.zip
*.tar.xz
.deps
.libs
config.h
config.log
config.status
node_modules
package-lock.json
tmp
wine

# processing:
processing/plip
processing/plip-aproc
processing/plip-silencemarks
processing/plip-clip
processing/plip-defconfig
processing/plip-demux
processing/plip-findnoise
processing/plip-gui
processing/plip-launcher
processing/plip-noiserepellentdenoise
processing/plip-marktofilter
processing/plip-mix
processing/plip-speexdenoise
processing/plip-aproc.exe
processing/plip-clip.exe
processing/plip-defconfig.exe
processing/plip-demux.exe
processing/plip-findnoise.exe
processing/plip-gui.exe
processing/plip-launcher.exe
processing/plip-noiserepellentdenoise.exe
processing/plip-marktofilter.exe
processing/plip-mix.exe
processing/plip-speexdenoise.exe
processing/plip.exe

# monitor:
monitor/obs/obs-plip-monitor.so
monitor/obs/obs-plip-monitor.dll

# gui:
gui/out/

# GC:
deps/gc/base_lib
deps/gc/cord/cordtest
deps/gc/cords
deps/gc/if_mach
deps/gc/if_not_there
deps/gc/threadlibs
deps/gc/cord/cordtest.exe

# PCRE:
deps/pcre/Makefile
deps/pcre/libtool
deps/pcre/pcre-config
deps/pcre/pcre.h
deps/pcre/pcre_chartables.c
deps/pcre/pcre_scanner_unittest
deps/pcre/pcre_stringpiece.h
deps/pcre/pcre_stringpiece_unittest
deps/pcre/pcrecpp_unittest
deps/pcre/pcrecpparg.h
deps/pcre/pcregrep
deps/pcre/pcretest
deps/pcre/stamp-h1
deps/pcre/pcre_scanner_unittest.exe
deps/pcre/pcre_stringpiece_unittest.exe
deps/pcre/pcrecpp_unittest.exe
deps/pcre/pcregrep.exe
deps/pcre/pcretest.exe

# SpeexDSP:
deps/speexdsp/libspeexdsp/testresample
deps/speexdsp/libspeexdsp/testresample2
deps/speexdsp/libspeexdsp/testdenoise.exe
deps/speexdsp/libspeexdsp/testecho.exe
deps/speexdsp/libspeexdsp/testjitter.exe
deps/speexdsp/libspeexdsp/testresample.exe
deps/speexdsp/libspeexdsp/testresample2.exe

# fftw:
deps/fftw/
deps/fftw-*.tar.gz
